@inject IJSRuntime js
<div class="card" 
     style="background-color: @(BackgroundColor ?? "White");color: @(TextColor ?? "Black");display: inline-block; width: @(Width ?? "200px")" 
     @onclick="@(()=>AddProductToCart(Product.ProductId))">
    <div class="card-body">
        <h5 class="card-title">
            @Product.ProductName
        </h5>
        <p class="card-text">
            Price: @Product.ProductPrice.ToString($"$##0.00")
        </p>
    </div>
    
</div>

@code {
    [Parameter]
    public ProductViewModel? Product { get; set; }
    [Parameter]
    public String BackgroundColor { get; set; }
    [Parameter]
    public string TextColor { get; set; }
    [Parameter]
    public string Width { get; set; }

    protected async void AddProductToCart(int ProductId)
    {
        await js.InvokeVoidAsync("alert", $"{Product.ProductId}");
    }
}